// [IMPORT] //
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Noto+Sans&display=swap');


// [IMPORT] Persona //
@import './variables.scss';


// [HTML] //
* {
	font-family: 'Noto Sans', sans-serif !important;
}

body {
	@extend .bg-white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Mulish', sans-serif !important;
}


// [TEXT][GRADIENT] //
.text-gradient {
	background: $secondary;
	background: -webkit-linear-gradient($primary, $secondary);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}


// [TEXT][SHADOW] //
.text-shadow {
	text-shadow: 1px 1px 1px black !important;
}


// [BG][DEFAULT][SHADE-&-SHINE] //
.bg-shade-light {
	background-color: rgba(0, 0, 0, 0.2) !important;
}

.bg-shade {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.bg-shade-darker {
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.bg-shine {
	background-color: rgba(255, 255, 255, 0.4) !important;
}


.bg-shine-lighter {
	background-color: rgba(255, 255, 255, 0.9) !important;
}


// [BG][FROST][LIGHT] //
.bg-frost-shine {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(15px) !important;
	-webkit-backdrop-filter: blur(15px) !important;
}


.bg-frost-shinier {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(15px) !important;
	-webkit-backdrop-filter: blur(15px) !important;
}


// [BG][FROST][SHADE] //
.bg-frost-shade {
	background-color: rgba(0, 0, 0, 0.4) !important;
	backdrop-filter: blur(10px) !important;
	-webkit-backdrop-filter: blur(10px) !important;
}


.bg-frosty-shade {
	background-color: rgba(0, 0, 0, 0.4) !important;
	backdrop-filter: blur(15px) !important;
	-webkit-backdrop-filter: blur(15px) !important;
}


// [BG][DOTTED] //
.bg-primary-dotted {
	opacity: 1;
	background-color: $primary;
	background-size:
		6px 6px,
		6px 6px
	;
	background-image:
		linear-gradient(
			0deg,
			white 4px,
			transparent 0
		),
		linear-gradient(
			90deg,
			white 4px,
			transparent 0
		),
	;
}

.bg-secondary-dotted {
	opacity: 1;
	background-color: $secondary;
	background-size:
		6px 6px,
		6px 6px
	;
	background-image:
		linear-gradient(
			0deg,
			white 4px,
			transparent 0
		),
		linear-gradient(
			90deg,
			white 4px,
			transparent 0
		),
	;
}

// [BG][GRADIENT] //
.bg-gradient {
	background-image: $hero-svg;
}

.bg-gradient-weak {
	display: block;
	background-image: $hero-img;
	background-position: left;
	background-size: 100%;
}

.bg-gradient-weak-2 {
	display: block;
	background-image: $hero-img;
	background-size: 300%;
	background-position: center;
}

.bg-gradient-classic {
	background: $primary;
	background:
		linear-gradient(
			0deg,
			$primary 0%,
			$secondary 100%
		)
	;
}

// [BG][SVG] //
.bg-light-svg {
	background-image: $polygon-svg;
	background-repeat: repeat;
	background-size: 200%;
}

// [GENERAL] //
.lottie {
	@media (max-width: 576px) {
	   width: 200px;
		height: 200px;
	}
}


// Align in center of div //
.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}


// [MISC] //
.bg-bg-img {
	background-image: $bg-img;
	background-size: 100%;
}


// CONTENT //
.offset-content {
	-webkit-transform: translateY(-80px);
	transform: translateY(-80px);

	@media (max-width: 500px) {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
	}
}