$primary: rgb(21, 110, 183);
$secondary: rgb(92, 186, 69);
$light: rgb(245, 245, 245);

$secondary-shine: mix($secondary, rgba(255, 255, 255, 0.5));

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'dark': black,
	'light': $light,
);


// [IMPORT] //
@import 'bootstrap/scss/bootstrap.scss';


// Vanilla Override //
body {
	background-image: url('');
	background-size: 100%;
}


// Bootstrap Override //
.btn {
	border-radius: 0 !important;
}

.btn-secondary {
	color: white !important;
}


// [CONTAINER] //
@media (min-width: 1600px) {
	.container { max-width: 1500px; }
}