// [DEFAULT] //
$primary: rgb(21, 110, 183);
$secondary: rgb(92, 186, 69);
$light: rgb(245, 245, 245);
$dark: rgb(0, 0, 0);

// [VARIANT] //
$primary-light: mix($primary, rgba(255, 255, 255, 1));
$secondary-light: mix($secondary, rgba(220, 220, 220, 1));
$secondary-dark: mix($secondary, rgb(125, 125, 125));

// [SHINE-&-SHADE] //
$primary-shine: mix($primary, rgba(255, 255, 255, 0.5));
$secondary-shine: mix($secondary, rgba(255, 255, 255, 0.5));
$secondary-shine-light: mix($secondary, rgba(255, 255, 255, 0.25));
$light-shine: mix($light, rgba(255, 255, 255, 0.5));
$dark-shine: mix($dark, rgba(255, 255, 255, 0.5));

// [BOOTSTRAP] //
$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'dark': $dark,
	'light': $light,
);


// [IMPORT] //
@import 'bootstrap/scss/bootstrap.scss';


// Vanilla Override //
body {
	background-image: url('');
	background-size: 100%;
}


// Bootstrap Override //
.btn {
	border-radius: 0 !important;
}

.btn-secondary {
	color: white !important;
}


// [CONTAINER] //
@media (min-width: 1600px) {
	.container { max-width: 1500px; }
}