@import './override.scss';


// [BOOSTER-STRAP] //
.bg-black {
	background-color: black !important;
}


// [DEFAULT][SHADE-&-SHINE] //
.bg-shade-light {
	background-color: rgba(0, 0, 0, 0.2) !important;
}

.bg-shade {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.bg-shade-darker {
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.bg-shine {
	background-color: rgba(255, 255, 255, 0.4) !important;
}


.bg-shine-lighter {
	background-color: rgba(255, 255, 255, 0.9) !important;
}


// [THEME][SHADE-&-SHINE] //
.bg-primary-shine {
	background-color: $primary-shine !important;
}

.bg-secondary-shine {
	background-color: $secondary-shine !important;
}

.bg-light-shine {
	background-color: $light-shine !important;
}

.bg-dark-shine {
	background-color: $dark-shine !important;
}


// [THEME][DOTTED] //
.bg-primary-dotted {
	opacity: 1;
	background-color: $primary;
	background-size:
		6px 6px,
		6px 6px
	;
	background-image:
		linear-gradient(
			0deg,
			white 4px,
			transparent 0
		),
		linear-gradient(
			90deg,
			white 4px,
			transparent 0
		),
	;
}

.bg-secondary-dotted {
	opacity: 1;
	background-color: $secondary;
	background-size:
		6px 6px,
		6px 6px
	;
	background-image:
		linear-gradient(
			0deg,
			white 4px,
			transparent 0
		),
		linear-gradient(
			90deg,
			white 4px,
			transparent 0
		),
	;
}


// [BACKGROUND] //
.bg-gradient {
	background-image: url('../images/hero.svg');
}

.bg-gradient-weak {
	background: rgb(21,110,183);
	background:
		linear-gradient(
			0deg,
			rgba(21,110,183,1) 0%,
			rgba(93,187,70,1) 100%
		)
	;
}

.bg-light-svg {
	background-image: url('../images/bg-light.svg');
	background-repeat: repeat;
	background-size: 200%;
}

// [GENERAL] //
.lottie {
	@media (max-width: 576px) {
	   width: 200px;
		height: 200px;
	}
}